<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="qDao" class="ru.vbolokhov.examination.dao.CSVQuestionDao">
        <constructor-arg name="file" value="questions.csv"/>
    </bean>

    <bean id="qService" class="ru.vbolokhov.examination.service.SimpleQuestionService">
        <constructor-arg name="qDao" ref="qDao"/>
    </bean>

    <bean id="examination" class="ru.vbolokhov.examination.service.ConsoleExaminationService">
    </bean>
</beans>